*{
    font-family: 'Times New Roman', Times, serif;
} 

header{
    margin: 0;
    padding: 0;
}

.background-container{
height: 10rem;
background-image: url(../img/pattern.png);
background-color: rgb(20, 74, 202);
background-size: 35%;
}

.logo-container{
    height: 100%;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position-y: bottom;
}

.title-text{
    font-weight: 900;
    font-size: 3em;
}

.subtitle{
    font-size: 1.5em;
    color: cadetblue;
}

.date-container{
    margin-bottom: 2em;
}

#date{
    color: cadetblue;
    margin-bottom: 2em;
}

.img{
    width: 49.83%;
    height: 400px;
    object-fit: cover;
}

.img-field{
    height: auto;
    width: 100%;
}

.image-container{
    height: 100%;
    width: 100%;
}

.image-description{
    margin: 0;
}

.highlighted{
    background-color: yellow;
}

table{
    width: 100%;
    border-collapse: collapse;
}

thead th{
    color: white;
}

#third-column{
    width: 50%;
}

.table-head{
    background-color: cornflowerblue;
}

.darker-row{
    background-color: aqua;
}

p strong{
    color: cadetblue;
}

footer{
    margin-top: 2rem;
}

.footer-image-1{
    margin-bottom: 1em;
    height: 10em;
    width: 15em;
    background-image: url(../img/monitor.jpg);
}

.footer-image-2{
    height: 10em;
    width: 15em;
    background-image: url(../img/graph.jpg);
}

div span{
    font-size: 1.2em;
    color:white
}