.background-container{
height: 10rem;
background-image: url(../img/pattern.png);
background-color: lightblue;
}
.logo-container{
    height: 100%;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position-y: bottom;
}

.title-text{
    font-weight: 500;
    font-size: 3em;
    margin: 0 0 1em;
}

.subtitle{
    color: burlywood
}

.image-container{
    height: 100%
}

.image-description{
    margin: 0;
}

.highlighted{
    background-color: yellow;
}