.background-container{
height: 10rem;
background-image: url(../img/pattern.png);
background-color: lightblue;
}
.logo-container{
    height: 100%;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position-y: bottom;
}

.title-text{
    font-weight: 500;
    font-size: 3em;
    margin: 0 0 1em;
}

.subtitle{
    color: burlywood
}

.image-container{
    height: 100%
}

.image-description{
    margin: 0;
}

.highlighted{
    background-color: yellow;
}
table{
    width: 100%;
    border-collapse: collapse;
}

thead th{
    color: white;
}
#third-column{
    width: 50%;
}
.table-head{
    background-color: cornflowerblue;
}

.darker-row{
    background-color: aqua;
}

p strong{
    color: cadetblue;
}

.footer-image-1{
    margin-bottom: 1em;
    height: 10em;
    width: 15em;
    background-image: url(../img/monitor.jpg);
}

.footer-image-2{
    height: 10em;
    width: 15em;
    background-image: url(../img/graph.jpg);
}

div span{
    font-size: 1.2em;
    color:white
}